body{
    background-color: wheat;
    border-color: brown;
    text-align: center;
}
h1{
    text-align: center;
}
h1:hover{
    color: sienna;
}
div{
    font-family:Arial, Helvetica, sans-serif;
}
#Input{
    color:teal;
    font-family: 'Times New Roman', Times, serif;
}
#Input:hover{
    color: peru;
}
p{
    color: black;
}
p:hover{
    color: brown;
}
h3{
    color: black;
}
h3:hover{
    color: chocolate;
}
.imagen{
    width: 195px;
    height: 200px;
}